
<header class="flex items-center justify-between gap-4 px-4 py-2">
    <a [routerLink]="['/doctor']" class="flex items-center gap-2 text-gray-700 hover:bg-gray-100 rounded-lg">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
            <circle cx="9" cy="7" r="4" />
            <path d="M22 21v-2a4 4 0 0 0-3-3.87" />
            <path d="M16 3.13a4 4 0 0 1 0 7.75" />
        </svg>
        Doctor
    </a>

    <a [routerLink]="['/especialidades']" class="flex items-center gap-2 text-gray-700 hover:bg-gray-100 rounded-lg">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2z" />
            <line x1="12" y1="6" x2="12" y2="18" />
            <line x1="6" y1="12" x2="18" y2="12" />
        </svg>
        Especialidades
    </a>
</header>

<div class="flex justify-center items-center">
  <h1 class="text-2xl font-bold text-gray-700">
    {{ ubicacionActual }}
  </h1>
</div>
